* {
  box-sizing: border-box;
}

.app {

  background: rgb(107, 107, 107);
  border: 1px solid blue;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app-header {
  width: 100%;
}

.app-content {
  border: 2px solid red;
  height: 60vh;
  width: 100vw;
}
.menu {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 0 5px;
}

.menu .btn {
  background-color: #282c34;
  border: 1px solid #111;
  border-radius: 5px 5px 0px 0px;
  color: aliceblue;
  padding: 3px 10px;
  margin: 0;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.timer {
  color: aliceblue;
  background-color: #282c34;
  padding: 3px 10px;
  margin-left: 10px;
  border-radius: 5px 10px 0px 0px;
}

.timer:hover {
  cursor: default;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  object-fit: cover;
}

.board {
  background-color: #282c34;
  justify-content: space-around;
  width: 100%;
}

.board-row {
  display: flex;
  flex-basis: 0;
  width: 100%;
}

.board-cell {
  margin: 1px;
  border: 2px solid #454545;
  border-radius: 20px;
}

.board-cell:hover {
  opacity: 0.9;
 
}

.board-card {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.card-img {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  max-height: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) rotatex(0deg) rotatey(0deg);
  }
  to {
    transform: rotate(360deg) rotatex(360deg) rotatey(360deg);
  }
}
