.app {
  padding: 10px;
  text-align: center;
}

.app-header {
  display: flex;
}

.app-content {
  height: 80vmin;
  border: 1px solid red;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  object-fit: cover;
}

.CardPic {
  height: 9vh;
  width: auto;
  pointer-events: none;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  } 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg)  rotatex(0deg) rotatey(0deg);
  }
  to {
    transform: rotate(360deg) rotatex(360deg) rotatey(360deg);
  }
}

.board{
  background-color: #282c34;
  padding: 20px;
  width: 100%;
}

.board-row{
  display: flex;
}

.board-cell{
  margin: 2px;
}

.board-card {
  
}
